:root {
    --primary: darkgrey;  
    --accent: white;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{ 
    background: linear-gradient(#e66465, #9198e5);;}

header{
    padding: 20px 35px;
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(210,70,252,0.5494572829131652) 100%);
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
   
}

main {
    min-height: 85vh;
}

header nav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    text-decoration: none;
    } 

    
.hero-image {
    height: 300px;
    background-image: url("./images/banner.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    position: relative;
  }
  

  .hero-text {
    text-align: right;
    position: absolute;
    top: 70%;
    right: 10%;
    color: black;
    padding: 20px 35px;
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(210,70,252,0.5494572829131652) 100%);
    box-shadow: 5px 10px 10px 10px black;
    font-size: 20px;
  }
  


    

footer{
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
    text-decoration: none;
}
footer nav ul
{
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    align-items: center;
    list-style: none;
    text-decoration: none;
    } 

article{
    width:30%;
    border: 2px  dashed var(--primary);
    height: 200px;
}