:root {
    --primary:radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(210,70,252,0.5494572829131652) 100%) ;  
    --accent: white;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: serif;
}
body{ 
    background: linear-gradient(#e66465, #9198e5);;}

.header{
    padding: 20px 35px;
    background: rgb(63,94,251);
    background: var(--primary);
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
   
}
/* makes it so the screen scrolls smooth */
html {
    scroll-behavior: smooth;
  }

main {
    min-height: 70vh;
}

h2{
    font-size: 50px;
    padding-left: 20px;
    text-align: left;
}

p{
font-size: 2rem;
}
  


  
.header nav ul li {
        display: inline-block;
        margin-left: 20px;
       
    }

    
.banner{
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    position: relative;
    height: 300px;
    background-image: url(./images/banner.jpg);
    background-size: cover;
    background-position: center;
}
  

.banner-text {
    text-align: right;
    position: absolute;
    top: 70%;
    right: 10%;
    color: black;
    padding: 20px 35px;
    background: var(--primary);
    box-shadow: 5px 10px 10px 10px black;
    font-size: 20px;
  }
  
  .card{
    display: flex;
    flex-wrap:wrap;
    padding: 30px;
    


  }


    

footer{
    padding: 20px 35px;
    background: bisque;
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    

}
footer nav ul li {
    display: inline-block;
        margin-right: 30px;
        color: #9198e5;
        
     
        
}

a{
    text-decoration: none;
    font-size: 20px;
    color: #000;
}

.card-data{
    padding: 50px;

  
}

.card-data img{
    width: 400px;
    height: 200px;
    background-color: #e66465;
    border: solid var(--accent);
}

h3{
    padding: 10px;
    text-align: left;
    background:salmon;
    width: fit-content;
}
/* I attempted to make this a bigger imagine like in the acceptance criteria */
img.pokemonDex{
    width: 500px; 
    height: 500px;
   border: solid black;
   flex-wrap: wrap;

}

.card-data:hover{
    opacity: 0.30;
}

nav{
    display: inline-block;
}